body{
    background-color: bisque;
}
h1{
    
    text-align: center;
    color: #f2f2f2;
}
/* Style the top navigation bar */
.main{
    border: 2px solid black;
}
.topnav {
    overflow: hidden;
    background-color: rgb(208, 54, 90);
    border: 2px solid black;
    background-color: rgb(227, 118, 143);
}
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.header{
    border: 1px blue;
    


  /*
  <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zS-J-8v34To" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
  */



  .flex-container {
    display: flex;
    /* flex-direction: column; */
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: peachpuff;
    border: 2px solid blue;
    height: 80px;
    flex: 1 1 auto;
  }
